
<br />
<div id="inicio" class="container card">
  <div class=" text-center ">
    <br />
    <h5 class="alert alert-success">
      ACTUALIZACION ORDEN N° {{ ordenFire.id }}
    </h5>
  </div>
  <!-- ------------------Datos de la orden----------------- -->
  <div class="card-body">
    <table class="table table-sm">
      <thead>
        <tr>
          <th class="text-center">Orden</th>
          <th>Cliente</th>
          <th>Solicitud</th>
        </tr>
      </thead>
      <tr>
        <td class="text-center">
          <strong>{{ ordenFire.id }}</strong>
        </td>
        <td>
          <strong
            >{{ ordenFire.cliente }}
            <span *ngIf="agendaFire" class="badge  badge-dark">{{
              ordenFire.sede
            }}</span></strong
          >
        </td>
        <td>
          {{ ordenFire.solicitud }}
          <span
            *ngIf="agendaFire"
            [ngStyle]="{ 'background-color': agendaFire.color }"
            class="badge  badge-light"
            >{{ agendaFire.tecnico }}</span
          >
        </td>
      </tr>
    </table>

    <hr />
    <!-- -------------------Notas ----------------------- -->
    <div *ngIf="ordenFire.nota">
      <strong
        >NOTA:
        <p style="color: red; display: inline">{{ ordenFire.nota }}</p></strong
      >
    </div>
  </div>
  <hr />
  <!-- ----------------botones de opciones -------------- -->
  <div class="container">
    <div class="form-row justify-content-center">
      <!-- ----------Boton Agendar ------------ -->
      <div
        class="form-group col-md-2 col-4"
        *ngIf="!(ordenFire.estado == 'En sitio') && userFire[0].rol == 'admin'"
      >
        <a class="btn btn-primary" routerLink="/programacion/{{ ordenFire.id }}"
          >Agendar</a
        >
      </div>
      <!-- ------------------Boton Imprimir Orden------------------ -->
      <div class=" form-group col-md-2 col-4">

        <a (click)="imprimir()" class="btn btn-warning" > Imprimir</a>
      </div>
      <!-- -----------Aviso no tiene agenda--------------- -->
      <div class="form-group col-md-6 col-6" *ngIf="!agendaFire">
        <strong
          ><p style="color: tomato">
            Esta orden no tiene agenda programada
          </p></strong
        >
      </div>
      <div
        class="col-md-10 col-8"
        *ngIf="
          (ordenFire.uid == uidActual && ordenFire.estado == 'Programado') ||
          (ordenFire.uid == uidActual && ordenFire.estado == 'Reprogramado')
        "
      >
        <div class="row">
          <!-- -----Boton En sitio ----- -->
          <div *ngIf="!sinCoordenadas" class="col-md-3 col-5">
            <div>
              <a
                data-toggle="modal"
                data-target="#exampleModal"
                class="btn btn-danger"
                style="color: white"
                >En sitio</a
              >
            </div>
          </div>
          <!-- ---------Icono ubicacion--------- -->
          <div class=" text-center col-md-1 col-2">
            <div>
              <a [routerLink]="['/mapa']"
                ><img
                  src="https://img.icons8.com/color/48/000000/place-marker.png"
              /></a>
            </div>
          </div>
          <!-- ---------Aviso de Distancia ------------ -->
          <div *ngIf="distance > 200" class="col-md-8 col-12">
            <div>
              <p class="alert alert-danger">
                Estas fuera de sitio por: {{ distance }} mts
              </p>
            </div>
          </div>
          <!-------- Button asignar coordenadas -------->
          <div class="form-group col-md-4 col-12" *ngIf="sinCoordenadas">
            <a
              [routerLink]="['/set-coordenadas', ordenFire.idCliente]"
              [queryParams]="{ sede: ordenFire.sede }"
              class="btn btn-warning"
            >
              Asignar Coordenadas
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- --------------Historial Actualizaciones------------------------>
  <div class="container card">
    <ng-container
      *ngIf="userSistema; then todos; else noSistema"
    ></ng-container>
    <ng-template #todos>
      <ng-container>
        <h4 class="text-center">Historial</h4>
        <table class="d table-bordered table-sm ">
          <thead class="encabezado">
            <tr>
              <th scope="col">Fecha</th>
              <th scope="col">Descripcion</th>
              <th scope="col" class="text-center">
                Con Usuario
                <div class="custom-control custom-switch">
                  <input
                    type="checkbox"
                    class="custom-control-input"
                    id="customSwitch1"
                    [(ngModel)]="userSistema"
                  />
                  <label class="custom-control-label" for="customSwitch1"
                    >Sistema</label
                  >
                </div>
              </th>
            </tr>
          </thead>
          <tbody *ngFor="let updated of updateFire; let i = index">
            <tr>
              <td id="fecha">
                {{ updated[1].fecha | date: "dd/MM/yyyy , hh:mm a" }}
              </td>
              <td id="update">
                {{ updated[1].update }}
              </td>
              <td id="usuario">
                {{ updated[1].usuario }}
                <span id="bg" class="badge badge-secondary">{{
                  updated[1].estado
                }}</span>
              </td>
            </tr>
          </tbody>
        </table> </ng-container
      ><br
    /></ng-template>
  </div>
  <br />
  <!-- -------------Sin Sistema------------------- -->
  <ng-template #noSistema>
    <ng-container>
      <h4 class="text-center">Historial</h4>
      <table class="d table-bordered table-sm ">
        <thead class="encabezado">
          <tr>
            <th scope="col">Fecha</th>
            <th scope="col">Descripcion</th>
            <th scope="col" class="text-center">
              Sin Usuario
              <div class="custom-control custom-switch">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  id="customSwitch1"
                  [(ngModel)]="userSistema"
                />
                <label class="custom-control-label" for="customSwitch1"
                  >Sistema</label
                >
              </div>
            </th>
            <th scope="col">Estado</th>
          </tr>
        </thead>
        <tbody *ngFor="let updated of noSistem; let i = index">
          <tr>
            <td id="fecha">
              {{ updated[1].fecha | date: "dd/MM/yyyy , hh:mm a" }}
            </td>
            <td id="update">
              {{ updated[1].update }}
            </td>
            <td id="usuario">{{ updated[1].usuario }}</td>
            <td id="estado">{{ updated[1].estado }}</td>
          </tr>
        </tbody>
      </table>
    </ng-container>
    <br />
  </ng-template>
  <!-- -----------------New Updates ------------------------->
  <div class="container card" *ngIf="update.orden != 0 && !cOp">
    <br />
    <div class="form-row  justify-content-md-center ">
      <div class="form-group col-md-8 text-center">
        <h4 class="alert alert-warning">NUEVA ACTUALIZACION</h4>
      </div>
    </div>

    <form
      [formGroup]="formGroup"
      (validSubmit)="guardarUpdates()"
      autocomplete="off"
    >
      <!-- -------------textarea-------------- -->
      <div class="form-row justify-content-md-center">
        <div class="form-group col-md-8">
          <textarea
            name="update"
            style="min-width: 100%"
            formControlName="update"
            placeholder="Ingresar Actualizacion de la orden"
            [(ngModel)]="update.update"
            class="form-control"
            rows="4"
          ></textarea>
        </div>
      </div>
      <!-- --------------select---------------- -->
      <div class="form-row justify-content-md-center">
        <div class="form-group col-md-4">
          <select
            formControlName="estado"
            class="form-control"
            name="estado"
            [(ngModel)]="update.estado"
            (change)="cambiarEstado()"
          >
            <option>Nuevo estado</option>
            <option *ngFor="let estados of estadosFire"
              >{{ estados.nombre }}
            </option>
          </select>
        </div>
      </div>
      <div class="form-row justify-content-md-center">
        <!-- -------------CheckBox Salir de sitio ------------------- -->
        <div
          *ngIf="ordenFire.estado == 'En sitio'"
          style="margin-top: 8px"
          class="custom-control custom-switch"
        >
          <input
            formControlName="salirsitio"
            name="salirsitio"
            type="checkbox"
            class="custom-control-input"
            id="customSwitch2"
            [(ngModel)]="saliendoSitio"
          />
          <label class="custom-control-label" for="customSwitch2"
            >Salir de sitio</label
          >
        </div>
        <!-- --------------boton Actualizar----------------- -->
        <div class="form-group col-md-2">
          <button type="submit" class="btn btn-primary">
            Actualizar
          </button>
        </div>
        <!-- -------spinner----- -->
        <div class="spinner-border text-primary" role="status" *ngIf="spinner">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </form>
  </div>
  <br />
  <!-- ------------------Agregar Nota -------------------------- -->
  <div *ngIf="cOp">
    <div class="form-row  justify-content-md-center ">
      <div class="form-group col-md-8 text-center">
        <h4 class="alert alert-warning">AGREGAR NOTA</h4>
      </div>
    </div>

    <form
      [formGroup]="formGroupNota"
      (validSubmit)="addNota()"
      autocomplete="off"
    >
      <div class="form-row justify-content-md-center">
        <div class="form-group col-md-8">
          <textarea
            name="nota"
            style="min-width: 100%"
            formControlName="nota"
            placeholder="Ingresar una nueva nota"
            [(ngModel)]="Nota"
            class="form-control"
            rows="4"
          ></textarea>
        </div>
      </div>
      <!-- -----------boton Actualizar Nota------------ -->
      <div class="form-row justify-content-md-center">
        <div class="form-group col-md-2">
          <button type="submit" class="btn btn-primary">
            Ingresar Nota
          </button>
        </div>
        <div class="spinner-border text-primary" role="status" *ngIf="spinner">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </form>
  </div>
  <br />
</div>
<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div *ngIf="distance < 500">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            Reporte en sitio
          </h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Estas seguro?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">
            Cancelar
          </button>
          <button
            type="button"
            class="btn btn-primary"
            data-dismiss="modal"
            (click)="enSitio()"
          >
            Aceptar
          </button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="distance > 500">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            Reporte en sitio
          </h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Estas fuera de sitio por : {{ distance }}mts</p>
          <p class="alert alert-danger">
            Estas seguro?, tendras mala calificacion
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">
            Cancelar
          </button>
          <button
            type="button"
            class="btn btn-primary"
            data-dismiss="modal"
            (click)="enSitio()"
          >
            Aceptar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
