table .d {
  table-layout: fixed;
  width: 100%;
}
#fecha {
  width: 15%;
}
#usuario {
  width: 15%;
}
#update {
  width: 60%;
}
#estado {
  width: 10%;
}
.encabezado {
  background-color: lightsteelblue;
}
#orden {
  text-align: center;
}
