table .d {
  table-layout: fixed;
  width: 100%;
}
#ingreso {
  width: 15%;
}
#usuario {
  width: 15%;
}
#update {
  width: 70%;
}
#bg-i {
  display: none;
}
.encabezado {
  background-color: lightsteelblue;
}
#orden {
  text-align: center;
}
@media (max-width: 575.98px) {
  #bg-i {
    display: inline;
  }
}
