table .d {
  table-layout: fixed;
  width: 100%;
}
#fecha {
  width: 15%;
}
#usuario {
  width: 15%;
}
#update {
  width: 70%;
}

.encabezado {
  background-color: lightsteelblue;
}
#orden {
  text-align: center;
}
@media (max-width: 575.98px) {
}
