<div class="well">
  <a [routerLink]="['/home']">Home</a> / Lista Tipos de Servicios
</div>
<br />
<div class="container card">
  <h3>TIPOS DE SERVICIOS</h3>
  <br />
  <div class="col-sm-4">
    <a
      class="dropdown-item"
      routerLink="/tipo-servicio/new"
      class="btn btn-primary"
      >Nuevo Tipo Servicio</a
    >
  </div>

  <hr />
  <ul class="list-group">
    <ng-container>
      <!-- <a routerLink="/crear-usuario/{{ estados.id }}"
        ><li class="list-group-item" [ngClass]="{ numero_par: (i + 1) % 2 }">
          {{ estados.nombre }}
        </li></a
      > -->
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">NOMBRE</th>
            <th scope="col">DOMICILIO</th>
          </tr>
        </thead>
        <tbody *ngFor="let tServ of tServfire; let i = index">
          <tr>
            <th scope="row">{{ i + 1 }}</th>
            <a routerLink="/tipo-servicio/{{ tServ.id }}"
              ><td>{{ tServ.nombre }}</td></a
            >
            <td *ngIf="tServ.visita">SI</td>
            <td *ngIf="!tServ.visita">NO</td>
          </tr>
        </tbody>
      </table>
    </ng-container>
  </ul>
</div>
<br />
