<div class="well"><a [routerLink]="['/home']">Home</a> / Listar Usuarios</div>
<div class="container">
  <h3>USUARIOS ACTUALES</h3>
  <br />
  <ul class="list-group">
    <ng-container *ngFor="let usuarios of usuariosfire; let i = index">
      <div class="form-row">
        <div id="divInicial">
          <p id="pInicial" [ngStyle]="{ 'background-color': usuarios.color }">
            {{ usuarios.iniciales }}
          </p>
        </div>
        <div class="col-md-5">
          <p class="list-group-item ">
            {{ usuarios.nombre }}
          </p>
        </div>
        <div class="col-md-2 btnAct">
          <a
            class="btn btn-primary"
            routerLink="/crear-usuario/{{ usuarios.id }}"
            >Actualizar</a
          >
        </div>
      </div>
    </ng-container>
  </ul>
</div>
