<div class="well"><a [routerLink]="['/home']">Home</a> / Editar Orden</div>
<br />
<div class="col-md-6 offset-md-3 card">
  <form
    [formGroup]="formGroup"
    (validSubmit)="guardarOrden()"
    autocomplete="off"
  >
    <!-- -----------seleccion de encabezado a mostrar new o editar ------------  -->
    <div class="form-row justify-content-md-center">
      <ng-container *ngIf="!(orden.id == id); then Crea; else Edita">
      </ng-container>
      <ng-template #Crea>
        <div>
          <h1>Crear Orden</h1>
        </div>
      </ng-template>
      <ng-template #Edita>
        <div>
          <h1>Editar Orden</h1>
        </div>
      </ng-template>
    </div>
    <!-- ------------inicio del formulario --------------------- -->
    <!-- ------------Cliente----------- -->
    <ng-container>
      <!-- <div class="form-row justify-content-md-center ">
        <div class="form-group col-md-10 ">
          <label for="cliente">Cliente</label>
          <select
          class="form-control"
          name="cliente"
          
          >
          <option>Seleccione cliente ... </option>
          <option *ngFor="let clienteSelect of clientesfire"
          >{{ clienteSelect.nombre }}
        </option>
      </select>
    </div>
  </div> -->
      <!-- -------------------- -->
      <div class="form-row justify-content-md-center ">
        <div class="form-group col-md-10 ">
          <label for="typeahead-basic">Seleccionar cliente:</label>
          <input
            formControlName="cliente"
            [(ngModel)]="orden.cliente"
            (change)="setIdCliente()"
            id="typeahead-basic"
            type="text"
            class="form-control"
            [ngbTypeahead]="search"
          />
          <hr />
        </div>
      </div>
    </ng-container>

    <!-- ------------Sede----------------- -->
    <ng-container *ngIf="clienteSeleccionado.length > 0">
      <div class="form-row justify-content-md-center">
        <div class="form-group col-md-10 ">
          <b
            ><label
              for="Sede"
              *ngIf="clienteSeleccionado[0].direcciones.length == 1"
              >Sede</label
            ></b
          >
          <b
            ><label
              for="Sede"
              *ngIf="clienteSeleccionado[0].direcciones.length > 1"
              style="color: crimson"
              >Cliente tiene varias sedes</label
            ></b
          >
          <select
            formControlName="sede"
            class="form-control"
            [(ngModel)]="orden.sede"
            name="sede"
          >
            <option>Seleccione sede ... </option>
            <option
              *ngFor="
                let sedes of clienteSeleccionado[0].direcciones;
                let i = index
              "
              >{{ sedes.sede }}
            </option>
          </select>
        </div>
      </div>
    </ng-container>

    <!-- ---------------Tipo de Servicio--------------- -->
    <div class="form-row justify-content-md-center">
      <div class="form-group col-md-10">
        <label for="tiposerv">Tipo Servicio</label>
        <select
          formControlName="tiposerv"
          class="form-control"
          (change)="domicilio()"
          [(ngModel)]="orden.tipo"
          name="tiposerv"
        >
          <option>Seleccione servicio ... </option>
          <option *ngFor="let tipo of tipoOrden">{{ tipo.nombre }} </option>
        </select>
      </div>
    </div>
    <div class="form-row justify-content-md-center">
      <div class="form-group col-md-10">
        <label for="servicio">Servicio Solicitado</label>
        <textarea
          rows="3"
          class="form-control"
          formControlName="servicio"
          placeholder="Descripcion del servicio..."
          [(ngModel)]="orden.solicitud"
          name="servicio"
        ></textarea>
      </div>
    </div>
    <div class="form-row justify-content-md-center">
      <div class="form-group col-md-10">
        <label for="comentarios">Comentarios Internos</label>
        <textarea
          rows="3"
          class="form-control"
          formControlName="comentarios"
          placeholder="Comentarios adicionales"
          [(ngModel)]="orden.nota"
          name="comentarios"
        ></textarea>
      </div>
    </div>
    <div class="form-row justify-content-md-center">
      <div class="form-group col-md-10">
        <h4 style="text-align: center">
          <label for="triage">Nivel de urgencia "Triage" </label>
        </h4>
        <h3 style="text-align: center">{{ orden.triage }}</h3>
        <input
          type="range"
          class="custom-range"
          min="0"
          max="5"
          name="triage"
          formControlName="triage"
          [(ngModel)]="orden.triage"
        />
        <span [ngSwitch]="orden.triage" style="width: 100px">
          <p *ngSwitchCase="1" class="alert alert-success">
            PRIORIDAD BAJA
          </p>
          <p *ngSwitchCase="2" class="alert alert-primary">
            PARA PROGRAMAR
          </p>
          <p *ngSwitchCase="3" class="alert alert-secondary">
            MAXIMO MAÑANA LA ATENCION
          </p>
          <p *ngSwitchCase="4" class="alert alert-warning">
            ATENDER TRANCURSO DEL DIA
          </p>
          <p *ngSwitchCase="5" class="alert alert-danger">
            URGENCIA ATENCION INMEDIATA
          </p>
          <p *ngSwitchDefault class="alert alert-dark">
            SELECCIONE PRIORIDAD
          </p>
        </span>
      </div>
    </div>
    <div class="form-row justify-content-md-center">
      <div *ngIf="formGroup.status == 'VALID'">
        <button type="submit" class="btn btn-primary">CREAR ORDEN</button>
      </div>
      <div *ngIf="formGroup.status == 'INVALID'">
        <a class="btn btn-danger" routerLink="/home/">CANCELAR</a>
      </div>
      <div
        style="padding-left: 35px"
        class="d-flex align-items-center"
        *ngIf="guardando == true"
      >
        <strong>Guardando...</strong>
        <div
          class="spinner-border ml-auto text-primary"
          role="status"
          aria-hidden="true"
        ></div>
      </div>
    </div>
    <br />
  </form>
</div>
<br />
