<br />
<div class="container card">
  <form
    [formGroup]="formGroup"
    (validSubmit)="guardarAgenda()"
    autocomplete="off"
  >
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="tecnico"><strong>Selecciona Usuario</strong> </label>
        <select
          formControlName="tecnico"
          class="form-control"
          name="tecnico"
          (change)="agendaTecnico()"
          [(ngModel)]="tecnicoSeleccionado"
        >
          <option>TODOS</option>
          <option *ngFor="let usuario of listUser">{{ usuario }} </option>
        </select>
      </div>
    </div>
  </form>
</div>
<!-- -------------------Calendario------------------ -->
<div class="container card">
  <full-calendar
    #calendar
    defaultView="timeGridWeek"
    [header]="{
      left: 'prev,next, today',
      center: 'title',
      right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
    }"
    [locale]="idioma"
    [buttonText]="{
      today: 'Hoy',
      month: 'Mes',
      week: 'Semana',
      day: 'Dia',
      list: 'lista'
    }"
    [nowIndicator]="true"
    [plugins]="calendarPlugins"
    [weekends]="calendarWeekends"
    [(events)]="calendarEvents"
    minTime="07:00:00"
    maxTime="19:00:00"
  ></full-calendar>
</div>
