<br />

<div id="agenda" class="container card">
  <div style="text-align: center">
    <h3 class="alert alert-primary">AGENDA POR USUARIO</h3>
  </div>
  <form
    [formGroup]="formGroup"
    (validSubmit)="guardarAgenda()"
    autocomplete="off"
  >
    <!-- ----------Seleccionar usuario ----------------- -->
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="tecnico"><strong>Selecciona Usuario</strong> </label>
        <select
          formControlName="tecnico"
          class="form-control"
          name="tecnico"
          (change)="agendaTecnico()"
          [(ngModel)]="tecnicoSeleccionado"
        >
          <option>TODOS</option>
          <option *ngFor="let usuario of listUser">{{ usuario }} </option>
        </select>
      </div>
      <div class="form-group col-md-8 text-center" style="margin-top: 10px;">
        <div class="bg" *ngFor="let list of listUserColor">
          <span
            [ngStyle]="{ 'background-color': list.color, color: black }"
            class="badge"
            >{{ list.tecnico }}</span
          >
        </div>
      </div>
    </div>
  </form>

  <!-- -------------------Calendario------------------ -->
  <div class="container card">
    <br /><full-calendar
      #calendar
      defaultView="timeGridWeek"
      [header]="{
        left: 'prev,next, today',
        center: 'title',
        right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
      }"
      [locale]="idioma"
      [buttonText]="{
        today: 'Hoy',
        month: 'Mes',
        week: 'Semana',
        day: 'Dia',
        list: 'lista'
      }"
      [nowIndicator]="true"
      [plugins]="calendarPlugins"
      [weekends]="calendarWeekends"
      [(events)]="calendarEvents"
      minTime="10:00:00"
      maxTime="19:00:00"
      (eventClick)="eventInfo($event)"
    ></full-calendar>
  </div>
</div>
<br />
