<div class="container">
  <h3 class="text-center alert-warning">Actualizaciones y versiones</h3>
</div>
<br />
<div class="container card">
  <h4>v.1.04.00 - 11/09/2019</h4>
  <h5>*Nueva funcionalidades*</h5>
  <p>
    <b>*Impresion orden en Pdf*</b>
    + Se imprime desde la ventana de Actualizaciones, solo muestra las
    actualizaciones del usuario + No muestra actualizaciones del sistema como:
    Creado, Programado, En sitio, reprogramado.
  </p>
  <b>*Correcciones*</b>
  <p>
    + Se cambió vista del mes por defecto de la agenda en el home.
  </p>
</div>
<br />

<div class="container card">
  <h4>v.1.03.00 - 09/09/2019</h4>
  <h5>*Nueva funcionalidades*</h5>
  <p>
    <b>* Multiples sedes para un cliente*</b>
    + Permite crear todas las sedes del cliente y hacer proceso de asignacion de
    coordenadas en caso de no encontrarla en google. + Al crear la orden, se
    debe selccionar la sede respectiva.
  </p>
</div>
<br />
<div class="container card">
  <h4>v1.02.00 - 07/09/2019</h4>
  <h5>*Nueva funcionalidades*</h5>
  <p>
    <b>ESTADOS AUTOMATICOS:</b>

    Al actualizar con un estado la orden, se re asigna automaticamente al
    usuario que tenga configurado el estado correspondiente.
  </p>
  <p>
    <b>ESTADOS QUE DAN SOLUCION*</b>
    Se debe configurar los estados que dan por solucionado la solicitud del
    cliente. Ej: "Terminado", "Realizado", etc
  </p>
</div>
<br />
<div class="container card">
  <h4>v1.01.00 - 6/09/2019.</h4>
  <p>
    <b>*Home:*</b>
    1. Muestra solo servicios asignados al tecnico. 2. Se quita triage, para
    tecnico. 3. Se agrega Nombre del usuario al boton
    <b>*Actualizaciones* </b>
    1. Se agregó icono de ubicacion, para verificacion en el mapa. 2. Se
    mostrará boton "En sitio" solo al tecnico asignado a la orden. 3. Se mejoró
    vista para moviles.
  </p>
</div>
