<div class="container">
  <h3 class="text-center alert-warning">Actualizaciones y versiones</h3>
</div>
<br />

<div class="container card">
  <h4>v.1.07.01 - 26/09/2019</h4>
  <b>*Correcciones*</b>
  <ul>
    <li>
      Reporte de detallado calificaiones, fecha y hora de salida, colocaba la
      misma de entrada.
    </li>
    <li>
      Desbordamiento del campo direccion en las ordenes impresas en Pdf.
    </li>
    <li>
      Se corrige falla de carga inicial, demora para autenticacion.
    </li>
  </ul>
</div>
<br />
<div class="container card">
  <h4>v.1.07.00 - 24/09/2019</h4>
  <b>*Nueva funcionalidades*</b>
  <ul>
    <b>*Ordenes remotas* : </b
    >las ordenes que nó requieran ser atendidas a domicilio, no tendran en
    cuenta el sitio, ni la salida, para la calificacion, la cual será positiva
    en ambos casos
    <li>
      + Se deben configurar los tipos de servicios como domicilio "NO".
    </li>
  </ul>

  <b>*Correciones y mejoras*</b>
  <ul>
    <li>
      Error no mostraba icono de estrellas en las calificaiones
    </li>
    <li>
      Ahora cuando una orden tiene estado "En sitio", no se dejará actualizar
      sin salir de sitio.
    </li>
    <li>
      Notas de la orden, no se imprimen en el PDF (usarán como notas privadas.)
    </li>
    <li>
      Se puede verificar el tipo de servicio en la actualizacion de la orden.
    </li>
    <li>
      Ahora una Orden cerrada, no se puede agendar, ni actualizar. Solo
      imprimir.
    </li>
  </ul>
</div>
<br />

<div class="container card">
  <h4>v.1.06.01 - 22/09/2019</h4>
  <b>*MEJORAS*</b>
  <ul>
    <b>Calificaciones : </b>
    <li>
      <b>Reportes = </b> + Se agrega listado del detallado de calificaciones.
      Click en la puntuacion para acceder.
    </li>
  </ul>
</div>
<br />
<div class="container card">
  <h4>v.1.06.00 - 20/09/2019</h4>
  <b>*Nueva funcionalidades*</b>
  <ul>
    <b>Calificaciones por agenda : </b
    >Con cada agendamiento el tecnico es calificado en 3 aspectos así:
    <li>
      <b>*Llegada a tiempo* = </b> Se compara hora de reporte en sitio Vs hora
      agendada.
    </li>
    <li>
      <b>*Reporte en sitio* = </b> Se califica reporte en sitio o fuera de el.
    </li>
    <li>
      <b>*Reporte Salida de sitio* = </b>
      Se valida que la actualizacion con salida de sitio se haga donde el
      cliente.
    </li>
  </ul>

  <b>*Valor Calificaciones*</b>
  <ul>
    La Calificacion de una agenda al 100% implica los tres aspectos anteriores,
    discriminados así: .
    <li>
      *Llegada a tiempo* = 50%.
    </li>
    <li>
      *Reporte en sitio* = 20%
    </li>
    <li>
      *Reporte salida de sitio* = 30%.
    </li>
    El promedio total de las 30 ultimas agenda, será la calificacion actual del
    tecnico.
  </ul>
</div>
<br />

<div class="container card">
  <h4>v.1.05.01 - 19/09/2019</h4>
  <b>*NUEVAS FUNCIONALIDADES*</b>
  <ul>
    <li>
      + Se agrega formulario para ingresar ordenes de GST manualmente.
    </li>
  </ul>

  <b>*Correcciones*</b>
  <ul>
    <li>
      Se habilita boton "Re-programar" cuando la orden tiene agenda activa.
    </li>
    <li>
      Se corrige fecha errada en comentarios de usuario Sistema.
    </li>
    <li>
      Se coloca en el home de los moviles la agenda vertical.
    </li>
    <li>
      Al modificar un usuario, muestre rol asignado.
    </li>
  </ul>
</div>
<br />

<div class="container card">
  <h4>v.1.05.00 - 15/09/2019</h4>
  <b>*Nueva funcionalidades*</b>
  <ul>
    <li>
      <b>REPORTE DE ORDENES: </b>Nuevo menú reportes: consultas por fechas=>
      cliente, estado, cerrada o usuario
    </li>
    <li>
      <b>LOG DE VERSIONES: </b>hipervinculo en la version actual, para verlo.
    </li>
  </ul>

  <b>*Correcciones*</b>
  <ul>
    <li>
      Se elimina espacios en blanco al guardar nombre del cliente y usuario.
      corrige falla al guardar un cliente o usuario
    </li>
    <li>
      Se agrega nombre del cliente en el nombre del archivo PDF descargado de
      una orden.
    </li>
  </ul>
</div>
<br />

<div class="container card">
  <h4>v.1.04.00 - 11/09/2019</h4>
  <h5>*Nueva funcionalidades*</h5>
  <p>
    <b>*Impresion orden en Pdf*</b>
    + Se imprime desde la ventana de Actualizaciones, solo muestra las
    actualizaciones del usuario + No muestra actualizaciones del sistema como:
    Creado, Programado, En sitio, reprogramado.
  </p>
  <b>*Correcciones*</b>
  <p>
    + Se cambió vista del mes por defecto de la agenda en el home.
  </p>
</div>
<br />

<div class="container card">
  <h4>v.1.03.00 - 09/09/2019</h4>
  <h5>*Nueva funcionalidades*</h5>
  <p>
    <b>* Multiples sedes para un cliente*</b>
    + Permite crear todas las sedes del cliente y hacer proceso de asignacion de
    coordenadas en caso de no encontrarla en google. + Al crear la orden, se
    debe selccionar la sede respectiva.
  </p>
</div>
<br />
<div class="container card">
  <h4>v1.02.00 - 07/09/2019</h4>
  <h5>*Nueva funcionalidades*</h5>
  <p>
    <b>ESTADOS AUTOMATICOS:</b>

    Al actualizar con un estado la orden, se re asigna automaticamente al
    usuario que tenga configurado el estado correspondiente.
  </p>
  <p>
    <b>ESTADOS QUE DAN SOLUCION*</b>
    Se debe configurar los estados que dan por solucionado la solicitud del
    cliente. Ej: "Terminado", "Realizado", etc
  </p>
</div>
<br />
<div class="container card">
  <h4>v1.01.00 - 6/09/2019.</h4>
  <p>
    <b>*Home:*</b>
    1. Muestra solo servicios asignados al tecnico. 2. Se quita triage, para
    tecnico. 3. Se agrega Nombre del usuario al boton
    <b>*Actualizaciones* </b>
    1. Se agregó icono de ubicacion, para verificacion en el mapa. 2. Se
    mostrará boton "En sitio" solo al tecnico asignado a la orden. 3. Se mejoró
    vista para moviles.
  </p>
</div>
