<h1>Mapa Ubicacion</h1>

<div class="container card">
  <h4 id="accuracy"></h4>
  <agm-map [latitude]="lat" [longitude]="lng" [zoom]="18">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  </agm-map>
  <br />
  <div class="container">
    <div class="form-row">
      <div class="form-group col-md-2">
        <button
          type="button"
          class="btn btn-warning"
          (click)="obtenetUbicacion()"
        >
          Volver a calcular
        </button>
      </div>
      <div class="form-group col-md-2"></div>
      <div class="form-group col-md-2">
        <button
          type="button"
          class="btn btn-primary"
          (click)="addCoordenadas()"
        >
          Aceptar
        </button>
      </div>
      <div class="form-group col-md-2">
        <button type="button" class="btn btn-danger" (click)="cancelar()">
          Cancelar
        </button>
      </div>
    </div>
  </div>
</div>
