<div class="container">
<h1>CREAR EQUIPO DE CLIENTE</h1>
<br><hr>
<form [formGroup]="formEquipo" (validSubmit)="guardarEquipo()">
  <!-- Primera fila -->
  <div class="form-row">
    <div class="form-group col-md-3">
      <h3><label for="cliente">Cliente</label></h3>
      <select formControlName="cliente" class="form-control" [(ngModel)]="newEquipo.cliente" name="cliente">
        <option >Seleccione cliente ... </option>
        <option *ngFor="let cliente of clientesFire">{{cliente.nombre}} </option>
      </select>
    </div>
    <div class="form-group col-md-1"></div>
    <div class="form-group col-md-3" style="padding-top: 45px">
      <form [formGroup]="radioGroupForm">
        <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" formControlName="model">
          <label ngbButtonLabel class="btn btn-warning">
            <input ngbButton type="radio" [value]="true"> Equipos PCS
          </label>
          <label ngbButtonLabel class="btn btn-warning">
            <input ngbButton type="radio" value="false"> Comunicaciones
          </label>
        </div>
      </form>
    </div>
    <div class="form-group col-md-1"></div>
    <div class="form-group col-md-3">
      <h3><label for="tEquipo">Tipo de Equipo</label></h3>
      <div *ngIf="(radioGroupForm.value['model'] == 'false')">
        <select formControlName="tEquipo" class="form-control" [(ngModel)]="newEquipo.tipo" name="tEquipo">
          <option >Seleccione Equipo Comunicaciones ... </option>
          <option *ngFor="let tipo of tipoEquipos.comunicaciones">{{tipo}} </option>
        </select>
      </div>
      <div *ngIf="(radioGroupForm.value['model'] == true)">
        <select formControlName="tEquipo" class="form-control" [(ngModel)]="newEquipo.tipo" name="tEquipo">
          <option >Seleccione Equipo PCS ... </option>
          <option *ngFor="let tipo of tipoEquipos.equipos">{{tipo}} </option>
        </select>
      </div>
    </div>
  </div>

  <hr>
  <!-- Datos en comun -->
  <div class="form-row">
    <div class="form-group col-md-3">
      <label for="marca">Marca</label>
      <input type="text" class="form-control" formControlName="marca" placeholder="Marca" [(ngModel)]="newEquipo.datos['marca']" name="marca">
    </div>
    <div class="form-group col-md-3">
      <label for="modelo">Modelo</label>
      <input type="text" class="form-control" formControlName="modelo" placeholder="Modelo" [(ngModel)]="newEquipo.datos['modelo']" name="modelo">
    </div>
    <div class="form-group col-md-3">
      <label for="serial">Serial</label>
      <input type="text" class="form-control" formControlName="serial" placeholder="Serial" [(ngModel)]="newEquipo.datos['serial']" name="serial">
    </div>
    <div class="form-group col-md-3">
      <label for="ubicacion">Ubicacion</label>
      <input type="text" class="form-control" formControlName="ubicacion" placeholder="Ubicacion" [(ngModel)]="newEquipo.datos['ubicacion']" name="ubicacion">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-3">
      <label for="usuario">Usuario</label>
      <input type="text" class="form-control" formControlName="usuario" placeholder="Usuario" [(ngModel)]="newEquipo.datos['usuario']" name="usuario">
    </div>
    <div class="form-group col-md-3">
      <label for="clave">clave</label>
      <input type="text" class="form-control" formControlName="clave" placeholder="clave" [(ngModel)]="newEquipo.datos['clave']" name="clave">
    </div>
    <div class="form-group col-md-3">
      <label for="ip">Direccion IP</label>
      <input type="text" class="form-control" formControlName="ip" placeholder="Direccion IP" [(ngModel)]="newEquipo.datos['ip']" name="ip">
    </div>
    <div class="form-group col-md-3">
      <label for="mac">Mac</label>
      <input type="text" class="form-control" formControlName="mac" placeholder="Mac" [(ngModel)]="newEquipo.datos['mac']" name="mac">
    </div>
  </div>
  <div>
      <textarea name="observaciones" style="min-width: 100%" formControlName="observaciones" placeholder="Observaciones" [(ngModel)]="newEquipo.observaciones"></textarea>
  </div>
  <hr>
  <!-- Tipo PC -->
  <div *ngIf="(radioGroupForm.value['model'] == true)">
  <!-- Seccion Caracteristicas -->
  <h3>Caracteristicas</h3>
  <div class="form-row">
      <div class="form-group col-md-2">
        <label for="procesador">Procesador</label>
        <input type="text" class="form-control" formControlName="procesador" placeholder="Procesador" [(ngModel)]="newEquipo.caractersiticas['procesador']" name="procesador">
      </div>
      <div class="form-group col-md-2">
        <label for="modelo">Memoria</label>
        <input type="text" class="form-control" formControlName="memoria" placeholder="Memoria" [(ngModel)]="newEquipo.caractersiticas['memoria']" name="memoria">
      </div>
      <div class="form-group col-md-2">
        <label for="disco">Disco Duro</label>
        <input type="text" class="form-control" formControlName="disco" placeholder="Disco Duro" [(ngModel)]="newEquipo.caractersiticas['disco']" name="disco">
      </div>
      <div class="form-group col-md-2">
        <label for="pantalla">Pantalla</label>
        <input type="text" class="form-control" formControlName="pantalla" placeholder="Pantalla" [(ngModel)]="newEquipo.caractersiticas['pantalla']" name="pantalla">
      </div>
      <div class="form-group col-md-2">
          <label for="garantia">Garantia</label>
          <input type="text" class="form-control" formControlName="garantia" placeholder="Garantia" [(ngModel)]="newEquipo.caractersiticas['garantia']" name="garantia">
        </div>
        <div class="form-group col-md-2">
            <label for="otros">Otros</label>
            <input type="text" class="form-control" formControlName="otros" placeholder="Otros" [(ngModel)]="newEquipo.caractersiticas['otros']" name="otros">
          </div>
    </div>
    <hr><br>
  <!-- Seccion Licencias y/o Servicios -->
    <h3>Software</h3>
    <div class="form-row">
          <div class="form-group col-md-3">
            <label for="tipoLic">Tipo Software</label>
            <input type="text" class="form-control" formControlName="tipoLic" placeholder="tipoLic" [(ngModel)]="newEquipo.software[cero].tipo" name="tipoLic">
          </div>
          <div class="form-group col-md-1">
              <label for="activaLic">legal</label>
            <select formControlName="activaLic" class="form-control" [(ngModel)]="newEquipo.software[cero].activa" name="activaLic">
                  <option >Si</option>
                  <option>No</option>
                </select>
          </div>
          <div class="form-group col-md-3">
            <label for="serialLic">Licencia</label>
            <input type="text" class="form-control" formControlName="serialLic" placeholder="Licencia" [(ngModel)]="newEquipo.software[cero].serial" name="serialLic">
          </div>
          <div class="form-group col-md-4">
              <label for="notaLic">Notas</label>
              <input type="text" class="form-control" formControlName="notaLic" placeholder="Nota" [(ngModel)]="newEquipo.software[cero].nota" name="notaLic">
          </div>
          <div class="form-group col-md-1" style="padding-top: 31px">
            <button type="button" class="btn btn-success" (click)=addLicencia()><strong>+</strong></button>
            <button type="button" class="btn btn-danger" (click)=removeLic()><strong>-</strong></button>
          </div>
      </div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">TIPO</th>
        <th scope="col">LICENCIA?</th>
        <th scope="col">SERIAL</th>
        <th scope="col">NOTA</th>
      </tr>
      </thead>
      <tbody>
      <tr   *ngFor="let item of newEquipo.software; index as i">
        <th scope="row">{{ i+1 }}</th>
        <td>{{item.tipo}}</td>
        <td>{{item.activa}}</td>
        <td>{{item.serial}}</td>
        <td>{{item.nota}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="(radioGroupForm.value['model'] == 'false')">
      <!-- Seccion Caracteristicas Equipos de Comunicaciones -->
      <h3>Caracteristicas Comunicaciones</h3>
      <div class="form-row">
        <div class="form-group col-md-3">

        </div>
        <div class="form-group col-md-3">

        </div>
        <div class="form-group col-md-3">

        </div>
        <div class="form-group col-md-3">

        </div>
      </div>
      <div class="form-row card-group">
        <div class="form-group col-md-3 card">
            <div class="col-md-12">
              <br>
              <h6>CONFIGURACION WAN</h6>
              <label for="ipwan">IP WAN</label>
              <input type="text" class="form-control" formControlName="ipwan" placeholder="IP WAN" [(ngModel)]="newEquipo.comunicaciones.confWan['ipwan']" name="ipwan">
              <label for="mascara">Mascara</label>
              <input type="text" class="form-control" formControlName="mascara" placeholder="Mascara" [(ngModel)]="newEquipo.comunicaciones.confWan['mascara']" name="mascara">
              <label for="pEnlace">Puerta de Enlace</label>
              <input type="text" class="form-control" formControlName="pEnlace" placeholder="Puerta de Enlace" [(ngModel)]="newEquipo.comunicaciones.confWan['pEnlace']" name="pEnlace">
              <label for="dns">DNS</label>
              <input type="text" class="form-control" formControlName="dns" placeholder="DNS" [(ngModel)]="newEquipo.comunicaciones.confWan['dns']" name="dns"><br>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="form-group col-md-3 card">
            <div class="col-md-12">
            <br>
            <h6>CONFIGURACION WIFI</h6>
            <label for="ssid">SSID</label>
            <input type="text" class="form-control" formControlName="ssid" placeholder="SSID" [(ngModel)]="newEquipo.comunicaciones.confWifi['ssid']" name="ssid">
            <label for="clavew">CLAVE</label>
            <input type="text" class="form-control" formControlName="clavew" placeholder="Clave" [(ngModel)]="newEquipo.comunicaciones.confWifi['clave']" name="clavew">
          </div>
        </div>
        <div class="col-md-1"></div>
        <div class="form-group col-md-4 card">
            <div class="col-md-12">
            <br>
            <h6>CONFIGURACION PUERTOS</h6>
            <textarea name="puertos" style="min-width: 100%" rows="10"  formControlName="puertos" placeholder="Ingrese todos los puertos configurados en el dispositivo" [(ngModel)]="newEquipo.comunicaciones.confPuertos"></textarea>
          </div>
        </div>
      </div>
  </div>
  <hr><br>
  <div class="alert alert-success" role="alert" *ngIf="newEquipoListo">
    Equipo creado con el Id: {{newEquipo.id}}
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1" formControlName="confirmar">
    <label class="form-check-label" for="exampleCheck1">Confirmar Creacion de Equipo</label>
  </div>
  <div *ngIf="formEquipo.status == 'VALID'">
    <button type="submit" class="btn btn-primary">Crear Equipo</button>
  </div>
  <div *ngIf="formEquipo.status == 'INVALID'">
    <button type="submit" class="btn btn-danger" (click)="onReset()">Reset</button>
  </div>
</form>

