<div class="form-row justify-content-md-center" style="margin-top: 6px">
  <ul class="navega" *ngFor="let q of quality; let i = index">
    <div id="divInicial">
      <li
        id="pInicial"
        class="text-center"
        [ngStyle]="{ 'background-color': q.Color }"
      >
        {{ q.User }}
      </li>
    </div>
    <li>
      <ng-template #t let-fill="fill">
        <span class="star" [class.full]="fill === 100">
          <span class="half" [style.width.%]="fill">&#9733;</span>&#9734;
        </span>
      </ng-template>

      <ngb-rating
        [(rate)]="q.TST"
        [starTemplate]="t"
        [readonly]="true"
        max="5"
      ></ngb-rating>

      <a
        id="points"
        routerLink="/quality-detalle/{{ q.userId }}"
        [queryParams]="{
          user: q.user,
          LLT: q.LLT,
          RES: q.RES,
          RSS: q.RSS,
          TTL: q.TTL
        }"
        >{{ q.TST }}</a
      >
    </li>
  </ul>
</div>

<!-- <div style="display: inline; font-size: 22px">
                                                              <div class="stars-outer">
                                                                <div
                                                                  style="font-size: 22px"
                                                                  [ngStyle]="{ width: q.TTL }"
                                                                  class="stars-inner"
                                                                ></div>
                                                              </div>
                                                            </div> -->
