<div class="container">
  <ng-container *ngIf="!registrado; then Crea; else Edita"></ng-container>
  <ng-template #Crea>
    <div>
      <h1>Crear Usuario</h1>
    </div>
  </ng-template>
  <ng-template #Edita>
    <div>
      <h1>Editar Usuario</h1>
    </div>
  </ng-template>
  <form [formGroup]="formGroup" (validSubmit)="register()" autocomplete="off">
    <!-- Primera fila -->
    <div class="form-row">
      <!-- ------Identificacion------ -->
      <div class="form-group col-md-2">
        <label for="inputId">Identificacion</label>
        <input
          type="number"
          (blur)="validarUsuario()"
          class="form-control"
          formControlName="Id"
          placeholder="Identificacion"
          [(ngModel)]="empleado.id"
          name="identificacion"
        />
        <div class="alert alert-danger" role="alert" *ngIf="existe">
          USUARIO EXISTE!
        </div>
      </div>
      <!-- ----------Nombre----------- -->
      <div class="form-group col-md-4">
        <label for="inputNombre">Nombre</label>
        <input
          type="text"
          class="form-control"
          formControlName="Nombre"
          placeholder="Nombre"
          [(ngModel)]="empleado.nombre"
          name="Nombre"
          (blur)="obtenerIniciales()"
        />
      </div>
      <!-- --------Direccion-------- -->
      <div class="form-group col-md-6">
        <label for="Dir">Direccion, Incluir la ciudad</label>
        <input
          type="text"
          class="form-control"
          formControlName="Dir"
          placeholder="Direccion"
          [(ngModel)]="empleado.direcciones[0]"
          name="Dir"
        />
      </div>
    </div>
    <!-- Segunda fila -->
    <div class="form-row">
      <!-- ---------Correo-------- -->
      <div class="form-group col-md-5">
        <label for="Correo">Correo</label>
        <input
          id="email"
          type="email"
          class="form-control"
          formControlName="Correo"
          placeholder="Correo"
          [(ngModel)]="empleado.correo"
          name="Correo"
        />
      </div>
      <!-- ----------Password--------- -->
      <div class="form-group col-md-5">
        <label for="Lat">Password</label>
        <input
          id="password"
          type="password"
          class="form-control"
          formControlName="Clave"
          placeholder="Password"
          [(ngModel)]="empleado.clave"
          name="Clave"
        />
      </div>
      <!-- ----------Rol------------- -->
      <div class="form-group col-md-2">
        <label for="Tipo">Rol Usuario</label>
        <select
          formControlName="Rol"
          class="form-control"
          [(ngModel)]="empleado.rol"
          name="Tipo"
        >
          <option value="">Seleccionar...</option>
          <option *ngFor="let Rol of roles">{{ Rol }} </option>
        </select>
      </div>
    </div>
    <!-- Tercera fila-->
    <div class="form-row">
      <!-- ----------Telefono--------- -->
      <div class="form-group col-md-3">
        <label for="Tel">Telefono</label>
        <input
          type="text"
          class="form-control"
          formControlName="Tel"
          placeholder="Telefono"
          [(ngModel)]="empleado.telefono"
          name="Tel"
        />
      </div>
      <!-- ----------Celular ------------- -->
      <div class="form-group col-md-3">
        <label for="Cel">Celular</label>
        <input
          type="text"
          class="form-control"
          formControlName="Cel"
          placeholder="Celular"
          [(ngModel)]="empleado.celular"
          name="Cel"
        />
      </div>
      <!-- -------Color--------- -->
      <div class="form-group col-md-2">
        <label for="Color">Color</label>
        <input
          type="color"
          class="form-control"
          formControlName="Color"
          placeholder="Color"
          [(ngModel)]="empleado.color"
          name="Color"
        />
      </div>
      <div
        id="color"
        class="form-group col-md-2"
        [ngStyle]="{ 'background-color': empleado.color }"
      >
        <p style="margin: 0px">{{ empleado.nombre }}</p>
      </div>
      <div id="divInicial" class="form-group col-md-2">
        <p
          style="margin-top: 10%"
          [ngStyle]="{ 'background-color': empleado.color }"
          id="pInicial"
          class="font-weight-bolder text-center"
        >
          {{ empleado.iniciales }}
        </p>
      </div>
    </div>
    <!-- Cuarta fila -->
    <div class="form-group">
      <!-- --------Check Activo------ -->
      <div class="form-check">
        <input
          class="form-check-input"
          formControlName="Activo"
          type="checkbox"
          name="Activo"
          [(ngModel)]="empleado.activo"
        />
        <label class="form-check-label" for="accesoOstya">
          ACTIVO
        </label>
      </div>
    </div>
    <!-- Botones -->
    <div *ngIf="formGroup.status == 'VALID'">
      <button type="submit" class="btn btn-primary">Guardar Usuario</button>
    </div>
  </form>
  <div *ngIf="formGroup.status == 'INVALID'">
    <a class="btn btn-danger" routerLink="/listar-usuarios/">Cancelar</a>
  </div>
</div>
