@import "~@fullcalendar/core/main.css";
@import "~@fullcalendar/daygrid/main.css";
@import "~@fullcalendar/timegrid/main.css";
/* You can add global styles to this file, and also import other style files */
td {
  font-size: 85%;
  font-weight: 400;
}
.numero_par {
  background-color: aliceblue;
  color: darkblue;
}
.well {
  background-color: blanchedalmond;
  padding: 10px;
  padding-left: 10%;
}
/* ccs para icono iniciales */
#pInicial {
  padding: 6px;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  -webkit-text-stroke-width: medium;
}
#divInicial {
  display: inline-grid;
  justify-content: center;
  align-items: center;
}
/* Vista movil pequeños home */
table .d {
  table-layout: fixed;
  width: 100%;
}
#ingreso {
  width: 15%;
}
#cliente {
  width: 30%;
}
#asignado {
  width: 20%;
}
#soliReporte {
  width: 65%;
}
#solicitud {
  width: 55%;
}
#orden {
  text-align: center;
}
#agendaMovil {
  display: none;
}
body {
  background-color: #f6f6f6;
}
@media (max-width: 575.98px) {
  #ingreso {
    display: none;
  }
  .container {
    padding-left: 2px;
    padding-right: 2px;
  }
  #orden {
    width: 10%;
  }
  #cliente {
    width: 30%;
  }
  #solicitud {
    width: 60%;
  }
  #agenda {
    display: none;
  }
  #agendaMovil {
    display: block;
  }
  .fc-center {
    font-size: x-small;
  }
  div h4 {
    font-size: large;
  }
  div h3 {
    font-size: large;
  }
  div .card-body {
    padding: 0px;
  }
}
