<div class="container">
  <h1>SERVICIOS ICLOUD DEL CLIENTE</h1>
  <br />
  <hr />
  <form [formGroup]="formIcloud">
    <!-- Primera fila -->
    <div class="form-row">
      <div class="form-group col-md-3">
        <h3><label for="cliente">Cliente</label></h3>
        <select
          formControlName="cliente"
          class="form-control"
          [(ngModel)]="newIcloud.cliente"
          name="cliente"
        >
          <option>Seleccione cliente ... </option>
          <option *ngFor="let cliente of clienteFire"
            >{{ cliente.nombre }}
          </option>
        </select>
      </div>
    </div>
  </form>
</div>
