<br />
<div style="text-align: center">
  <h3 class="alert alert-primary">AGENDA POR ORDEN</h3>
</div>
<div class="container card">
  <form
    [formGroup]="formGroup"
    (validSubmit)="buscarOrden()"
    autocomplete="off"
  >
    <div class="form-row">
      <div class="form-group col-md-2">
        <label for="Long">N° Orden</label>
        <input
          type="number"
          class="form-control"
          formControlName="orden"
          placeholder="Ingresar orden"
          [(ngModel)]="agendaGet.id"
          name="orden"
          (blur)="buscarOrden()"
        />
      </div>
      <div class="form-group col-md-2" style="margin-top: 32px">
        <button type="submit" class="btn btn-primary">
          Buscar
        </button>
      </div>
      <div *ngIf="noAgenda" role="alert">
        <label for="error"></label>
        <p name="error" class="alert alert-danger">{{ noAgenda }}</p>
      </div>
      <div
        class="form-group col-md-6"
        style="margin-top: 39px"
        *ngIf="noAgenda"
      >
        <p>
          <strong>{{ agendaFire[0].title }}</strong>
        </p>
      </div>
    </div>
  </form>
</div>
<br />
<!-- -------------------Calendario------------------ -->
<div class="container card">
  <br /><full-calendar
    #calendar
    defaultView="dayGridMonth"
    [header]="{
      left: 'prev,next, today',
      center: 'title',
      right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
    }"
    [locale]="idioma"
    [buttonText]="{
      today: 'Hoy',
      month: 'Mes',
      week: 'Semana',
      day: 'Dia',
      list: 'lista'
    }"
    [nowIndicator]="true"
    [plugins]="calendarPlugins"
    [weekends]="calendarWeekends"
    [(events)]="calendarEvents"
    minTime="00:00:00"
    maxTime="24:00:00"
    businessHours="true"
  ></full-calendar>
</div>
