<div class="well">
  <a [routerLink]="['/home']">Home</a> / Lista Tipos de Servicios
</div>
<br />
<div class="container card">
  <h3>TIPOS DE EQUIPOS</h3>
  <br />
  <div class="col-sm-4">
    <a
      class="dropdown-item"
      routerLink="/tipo-equipo/new"
      class="btn btn-primary"
      >Nuevo Tipo Equipo</a
    >
  </div>

  <hr />
  <ul class="list-group">
    <ng-container>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">NOMBRE</th>
          </tr>
        </thead>
        <tbody *ngFor="let tServ of tEquipoFire; let i = index">
          <tr>
            <th scope="row">{{ i + 1 }}</th>
            <a routerLink="/tipo-equipo/{{ tServ.id }}"
              ><td>{{ tServ.nombre }}</td></a
            >
          </tr>
        </tbody>
      </table>
    </ng-container>
  </ul>
</div>
<br />
