<!-- <div class="well"><a [routerLink]="['/home']">Home</a> / Ordenes Abiertas</div> -->
<div class="container">
  <div style="text-align: center">
    <h3>ORDENES ABIERTAS</h3>
    <hr />
  </div>
  <ng-container *ngFor="let User of listUser">
    <br />
    <h4>
      <strong style="color:maroon">{{ User }} </strong>
    </h4>
    <table class="d table-bordered table-sm ">
      <thead class="encabezado">
        <tr>
          <th scope="col">Orden</th>
          <th scope="col">Ingreso</th>
          <th scope="col">Cliente</th>
          <th scope="col">Solicitud</th>
          <th scope="col">Estado</th>
        </tr>
      </thead>
      <tbody *ngFor="let ordenes of ordenFire; let i = index">
        <tr *ngIf="ordenes.tecnicoAsignado == User">
          <td id="orden">
            <a routerLink="/updates/{{ ordenes.id }}">{{ ordenes.id }}</a>
          </td>
          <td id="ingreso">
            {{ ordenes.fechaSolicitud | date: "short" }}
          </td>
          <td id="cliente">{{ ordenes.cliente }}</td>
          <td id="solicitud">{{ ordenes.solicitud }}</td>
          <td id="estado">{{ ordenes.estado }}</td>
        </tr>
      </tbody>
    </table> </ng-container
  ><br />
</div>
