table .d {
  table-layout: fixed;
  width: 100%;
}
#ingreso {
  width: 15%;
}
#cliente {
  width: 30%;
}
#solicitud {
  width: 55%;
}

.encabezado {
  background-color: lightsteelblue;
}
#orden {
  text-align: center;
}
