<br />
<div class="container card">
  <div class=" text-center ">
    <br />
    <h4 class="alert alert-primary">ORDENES EN ESPERA - TRIAGE</h4>
  </div>
  <div class="text-center">
    <span class="badge" style="background-color: #FF0F00">Incumplido</span> .
    <span class="badge" style="background-color: #FF00E0"
      >Faltan : -4 horas</span
    >.
    <span class="badge" style="background-color: #FF7C00"
      >Faltan : -8 horas</span
    >.
    <span class="badge" style="background-color: #F7FF00"
      >Faltan : -24 horas</span
    >.
    <span class="badge" style="background-color: #afff00">Faltan : -3 dias</span
    >.
    <span class="badge" style="background-color: #00d5ff"
      >Faltan : +3 dias</span
    >
  </div>
  <ng-container>
    <table class="d table">
      <thead class="thead-dark encabezado">
        <tr>
          <th id="orden" scope="col">#</th>
          <th id="cliente" scope="col">Cliente - Triage</th>
          <th id="solicitud" scope="col">Servicio</th>
          <th id="ingreso" scope="col">Solicitud</th>
        </tr>
      </thead>
      <tbody *ngFor="let orden of ordenFire">
        <tr>
          <th id="orden" scope="row">
            <a
              style="color: rgb(8, 8, 8)"
              routerLink="/updates/{{ orden.id }}"
              >{{ orden.id }}</a
            >
          </th>
          <td id="cliente">{{ orden.cliente }}-{{ orden.triage }}</td>
          <td id="solicitud">
            {{ orden.solicitud }}.<span
              [ngStyle]="{ 'background-color': orden.color }"
              class="badge"
              >{{ orden.tr }}</span
            >
          </td>
          <td id="ingreso">
            {{ orden.fechaSolicitud | date: "dd/MM/yyyy , hh:mm a" }}
          </td>
        </tr>
      </tbody>
    </table>
  </ng-container>
</div>
