<br />
<div class="container card">
  <div class=" text-center ">
    <br />
    <h4 class="alert alert-primary">ORDENES EN ESPERA - TRIAGE</h4>
  </div>
  <ng-container>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Cliente - Triage</th>
          <th scope="col">Servicio</th>
          <th scope="col">Solicitud</th>
        </tr>
      </thead>
      <tbody *ngFor="let orden of ordenFire">
        <tr>
          <th scope="row">
            <a
              style="color: rgb(8, 8, 8)"
              routerLink="/updates/{{ orden.id }}"
              >{{ orden.id }}</a
            >
          </th>
          <td>{{ orden.cliente }}-{{ orden.triage }}</td>
          <td>
            {{ orden.solicitud }}.<span
              [ngStyle]="{ 'background-color': orden.color }"
              class="badge"
              >{{ orden.tr }}</span
            >
          </td>
          <td>{{ orden.fechaSolicitud | date: "dd/MM/yyyy , hh:mm a" }}</td>
        </tr>
      </tbody>
    </table>
  </ng-container>
</div>
